
/*** COLORS ***/

$white: #fafbf7;
$silver: #dedbd6;
$gray: #979892;
$dark: #424c49;
$blue: #6e9eb1;
$black: #303936;

%wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 68rem;
}

/*** LAYOUT ***/

body {
	background-color: $white;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}

nav {
	background: $black;
	padding: 0 1rem;
	text-align: right;
}
header h1 {
	margin-top: 8rem;
	margin-bottom: 4rem;
	@extend %wrap;
}

main {
	min-height: 20rem;
	padding: 3rem 0.5rem;
	@extend %wrap;
}
section {
	margin-bottom: 3rem;
}
p {
	max-width: 38rem;
}
ul{
	margin-left: auto;
	margin-right: auto;
}
main img {
	display: block;
	margin: 2em auto;
	width: 100%;
	text-align: center;
}
img.small {
	max-width: 12rem;
	height: auto;
}
img[src$='.gif'] {
	max-width: 30em;
}
figure img {
	margin-bottom: 0.5em;
}
figcaption {
	text-align: left;
}

section.announcement .wrapper + .wrapper {
	margin-top: 2rem;
}

/*** TYPOGRAPHY ***/

@font-face {
  font-family: 'CG Omega';
  src: url('/assets/fonts/cg-omega.woff2') format('woff2'),
       url('/assets/fonts/cg-omega.woff') format('woff'),
       url('/assets/fonts/cg-omega.ttf') format('truetype');
}

body {
	color: $black;
	font-family: Optima, 'CG Omega', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	letter-spacing: 0.025em;
	line-height: 1.75em;
}

h1, h2, h4 {
	font-weight: normal;
	letter-spacing: 0.05em;
	margin-top: 0;
	text-transform: uppercase;
}

p + h3 {
	margin-top: 2rem;
}

a {
	text-decoration: none;
	transition: all 0.125s ease;
}
nav a {
	color: $silver;
	margin-left: 1rem;
	text-transform: uppercase;
	&:hover {
		color: $white;
	}
}
a.router-link-active {
	color: $gray;
	cursor: default;
	&:hover {
		color: $gray;
	}
}
main a {
	color: $dark;
	border-bottom: 1px solid $blue;
	&:hover {
		border-color: $dark;
	}
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0.75rem;
	text-indent: -0.75rem;
}
li + li {
	margin-top: 1rem;
}

.bulleted li {
	&:before {
		content: '-';
		padding-right: 0.5rem;
	}
	li:before {
		content: '\2022';
	}
}

h1 {
	margin: 0;
	a {
		border-bottom: 0;
	}
}

h3 {
	font-size: 1em;
	font-weight: bold;
}

strong, h3 {
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
small, figcaption {
	font-size: 0.75em;
}

blockquote {
	font-size: 1.125rem;
	margin: 3rem 0;
}

section.shows {
	strong, .note, .location {
		display: block;
	}
}

/*** MEDIA ***/

iframe {
	margin-left: auto;
	margin-right: auto;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin-bottom: 0.5rem;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/*** ANNOUNCEMENT ***/

@media all and (min-width: 720px) {dding-top: 0;

	section.announcement .wrapper {
		margin-bottom: 4rem;
	}
	
}
