
/*** COLORS ***/
/*
	#edeae6 white
	#f2f4eb cream
	#dedbd6 light gray
	#76939e blue
	#303936 light black
*/

/*** LAYOUT ***/

body {
	background-color: #fafbf7;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	max-width: 68rem;
}
* {
	box-sizing: border-box;
}

header, footer {
	padding: 1rem 0;
}
header:before, header:after {
	content: '';
	display: table;
}
header:after {
	clear: both;
}
.logo {
	float: left;
}
nav {
	float: right;
	line-height: 3rem;
}
nav a {
	margin-left: 1rem;
}
main {
	margin-left: auto;
	margin-right: auto;
	max-width: 44rem;
	min-height: 20rem;
	padding: 3rem 0.5rem;
	text-align: center;
}
section {
	margin-bottom: 3rem;
}
p {
	margin-left: auto;
	margin-right: auto;
	max-width: 38rem;
}
ul{
	margin-left: auto;
	margin-right: auto;
}
main img {
	display: block;
	margin: 2em auto;
	width: 100%;
	text-align: center;
}
img.small {
	max-width: 12rem;
	height: auto;
}
img[src$='.gif'] {
	max-width: 30em;
}
figure img {
	margin-bottom: 0.5em;
}
figcaption {
	text-align: left;
}

footer a {
	float: right;
}

/*** TYPOGRAPHY ***/

@font-face {
  font-family: 'CG Omega';
  src: url('../fonts/cg-omega.woff2') format('woff2'),
       url('../fonts/cg-omega.woff') format('woff'),
       url('../fonts/cg-omega.ttf') format('truetype');
}

body {
	color: #303936;
	font-family: Optima, 'CG Omega', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 0.025em;
	line-height: 1.5em;
}

h1, h2, h3, h4 {
	font-weight: normal;
	letter-spacing: 0.05em;
	margin-top: 0;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	transition: all 0.125s ease;
}
nav a, footer a {
	color: #6e9eb1;
	text-transform: uppercase;
}
nav a:hover, footer a:hover {
	color: #424c49;
}
a.current {
	color: #979892;
	cursor: default;
}
a.current:hover {
	color: #979892;
}
main a {
	color: #424c49;
	border-bottom: 1px solid #6e9eb1;
}
main a:hover {
	border-color: #424c49;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0.75rem;
	text-indent: -0.75rem;
}
li:before {
	content: '-';
	padding-right: 0.5rem;
}
li + li {
	margin-top: 0.5rem;
}
li li:before {
	content: '\2022';
}

h1 {
	margin: 0;
}
h1 a {
	border-bottom: 0;
}

strong {
	letter-spacing: 0.05em;
	text-transform: uppercase;
}
small, figcaption {
	font-size: 0.75em;
}

blockquote {
	border-left: 4px solid #dedbd6;
	max-width: 620px;
	padding-left: 1rem;
	position: relative;
	text-transform: none;
	text-align: left;
}

footer {
	font-size: 0.75rem;
}

/*** MEDIA ***/

.logo {
	/*opacity: 0.8;*/
	width: 120px;
}
iframe {
	margin-left: auto;
	margin-right: auto;
}
iframe.bandcamp, iframe.soundcloud {
	width: 100%;
}
iframe.bandcamp {
	margin-bottom: 0.5em;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin-bottom: 0.5rem;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

